/*** Reseto estilos default ***/
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

body {
    background-color: #d8e0e2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo1 {
    text-align: center;
}


.ejercicios {
    text-align: justify;
    padding: 0 30px 0 30px;
}

main {
    padding: 20px 20px;
}

main p {
    margin-top: 20px;
}
